body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.text_1 { 
    margin: 0;
}

p { 
    padding: 0;
    margin: 0;
}

