.bg-box {
    width: 100%;
    background-color: green;
    height: 800px;
    position: relative;
}

.house {
    position: absolute;
    background: url("../img/house.jpg") center/50% no-repeat;
    width: 100%;
    height: 100%;
}

.grass {
    position: absolute;
    background: url("../img/green.png") bottom/200px repeat-x;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.lamp {
    position: absolute;
    background: url("../img/lampa.png") top/50px repeat-x;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.hedgehog {
    position: absolute;
    background: url("../img/hedgehog.webp") left/50px repeat-y;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.doughnut {
    position: absolute;
    background: url("../img/doughnut.png") right/50px repeat-y;
    width: 100%;
    height: 100%;
    z-index: 1;
}